RewriteOptions inherit

RewriteEngine on

# Redirection de /tva/ vers https://calcul-comptable.vercel.app/
RewriteRule ^tva/(.*)$ https://calcul-comptable.vercel.app/$1 [P,L]

<IfModule mod_headers.c>
    # Cache images for one year
    <FilesMatch "\.(jpg|jpeg|png|gif|swf)$">
        Header set Cache-Control "max-age=31536000, public"
    </FilesMatch>

    # Cache JS and CSS for one year
    <FilesMatch "\.(js|css|swf)$">
        Header set Cache-Control "max-age=31536000"
    </FilesMatch>
</IfModule>

# Redirect non-www to www (optional)
RewriteCond %{HTTP_HOST} ^digitalsquad\.ma$ [OR]
RewriteCond %{HTTP_HOST} ^www\.digitalsquad\.ma$
RewriteRule ^index\.html$ https://digitalsquad.ma/ [R=301,L]

# Uncomment the following lines if you want to redirect the root domain
# to another subdomain or URL.
# RewriteCond %{HTTP_HOST} ^.*$
# RewriteRule ^/?$ "https://accounting.digitalsquad.ma/" [R=301,L]
RewriteCond %{HTTP_HOST} ^digitalsquad\.ma$ [OR]
RewriteCond %{HTTP_HOST} ^www\.digitalsquad\.ma$
RewriteRule ^tva$ "https\:\/\/digitalsquad\.ma\/tva\.html" [R=301,L]
