


/*===========================
    13.BL0G DETAILS  css 
===========================*/


.blog-details-area{}


.blog-details-content{
    & .details-image{
        & img{
            width: 100%;
        }
    }
    & .details-title{
        font-size: 24px;
        font-weight: 600;
        max-width: 680px;
        margin-top: 45px;
        
        @media #{$xs}{
            font-size: 20px;
        }
    }
    & .text{
        margin-top: 35px;
    }
    & .blockquote{
        padding: 65px 50px;
        background-color: $theme-color;
        position: relative;
        border-radius: 5px;
        margin-top: 45px;
        z-index: 5;
        
        @media #{$xs}{
            padding: 25px 30px;
        }
        
        & .quote{
            color: $white;
            position: absolute;
            top: 5px;
            left: 5px;
            opacity: 0.15;
            z-index: -1;
        }
        
        & .text{
            margin-top: 0;
            color: $white;
            font-size: 32px;
            font-weight: 300;
            font-family: $font-2;
            line-height: 48px;
            display: block;
            
            @media #{$lg}{
                font-size: 28px;
            }
            @media #{$xs}{
                font-size: 20px;
                line-height: 35px;
            }
            
            & i{
                font-size: 16px;
                position: relative;
                
                &.fa-quote-left{
                    top: -16px;
                    left: 5px;
                }
                &.fa-quote-right{
                    bottom: -6px;
                }
            }
        }
    }
    & .details-list{
        padding-top: 5px;
        padding-left: 20px;
        
        & li{
            font-size: 16px;
            color: $body-color;
            margin-top: 25px;
            list-style: decimal;
        }
    }
    & .blog-share{
        border-top: 1px solid $border-color;
        padding-top: 25px;
        margin-top: 60px;
        
        & span{
            font-size: 14px;
            font-weight: 700;
            color: $black;
            font-family: $font-2;
        }
        
        & .social{
            & li{
                display: inline-block;
                margin-left: 10px;
                
                & a{
                    font-size: 16px;
                    
                    &.color-1{
                        color: #45619d;
                    }
                    &.color-2{
                        color: #42c0fb;
                    }
                    &.color-3{
                        color: #E1306C;
                    }
                    &.color-4{
                        color: #0077B5;
                    }
                }
            }
        }
    }
}



.single-comment-items{
    margin-top: 50px;
    
    & .comment-author{
        @media #{$xs}{
            padding-left: 100px;
            padding-bottom: 18px;
        }
        
        @media #{$sm}{
            padding-left: 0;
            padding-bottom: 0;
        }
        
        & img{
            width: 80px;
            border-radius: 50%;
        }
    }
    & .comment-content{
        background-color: #f6f6f6;
        padding: 25px 60px;
        margin-left: 20px;
        position: relative;
        
        @media #{$xs}{
            margin-left: 0;
            padding: 25px 25px;
        }
        
        @media #{$sm}{
            margin-left: 20px;
        }
        
        &::before{
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            border-top: 100px solid #f6f6f6;
            border-left: 100px solid transparent;
            top: 0;
            left: -100px;
            
            @media #{$xs}{
                border-top: 0;
                border-left: 0;
                border-right: 100px solid transparent;
                border-bottom: 100px solid #f6f6f6;
                left: 0;
                top: -100px;
            }
            
            @media #{$sm}{
                position: absolute;
                border-top: 100px solid #f6f6f6;
                border-left: 100px solid transparent;
                border-right: 0;
                border-bottom: 0;
                top: 0;
                left: -100px;
            }
        }
        
        & .comment-name{
            font-size: 16px;
            font-weight: 700;
        }
        & .text{
            padding-top: 20px;
            padding-bottom: 20px;
        }
        
        & a{
            font-size: 16px;
            color: #a4a4a4;
            @include transition(0.3s);
            margin-right: 20px;
            margin-top: 10px;
            
            & i{
                margin-right: 8px;
            }
            
            &:hover{
                color: $theme-color;
            }
        }
    }
}

.comment-reply{
    padding-left: 100px;
    
    @media #{$xs}{
        padding-left: 0;
    }
}


.blog-details-comment-form{
    
    & .comment-form-title{
        font-size: 32px;
        font-weight: 700;
        font-family: $font-2;
        color: #000;
        
        @media #{$xs}{
            font-size: 26px;
        }
        
        & i{
            color: $theme-color;
            margin-right: 8px;
        }
        
        & span{
            font-weight: 400;
        }
    }
}


.comment-form{
    & label{
        margin-bottom: 25px;
        display: block;
        font-size: 18px;
        color: $black;
    }
    & input,
    & textarea{
        width: 100%;
        border-radius: 7px;
        background-color: $white;
        padding: 0 30px;
        height: 65px;
        border: 1px solid $border-color;
        color: $black;
        font-size: 18px;
    }
    
    & textarea{
        padding-top: 10px;
        height: 270px;
        resize: none;
    }
}

.blog-category{
    border: 1px solid $border-color;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
    & .category-title{
        border: 1px solid $border-color;
        padding: 15px 30px;
        
        & .title{
            font-size: 18px;
            font-weight: 500;
            color: $black;
            
            & i{
                color: $theme-color;
                margin-right: 5px;
            }
        }
    }
    & .category-list{
        padding: 5px 30px 30px;
        
        & ul{
            & li{
                margin-top: 20px;
                
                & a{
                    font-size: 14px;
                    color: $body-color;
                    display: block;
                    @include transition(0.3s);
                    
                    &:hover{
                        color: $theme-color;
                    }
                    
                    & i{
                        float: right;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
    & .category-more{
        padding: 15px 30px;
        border-top: 1px solid $border-color;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        
        & a{
            font-size: 14px;
            font-weight: 400;
            font-family: $font-2;
            color: $black;
            
            @include transition(0.3s);
                    
            &:hover{
                color: $theme-color;
            }
            
            & i{
                color: $theme-color;
                margin-right: 5px;
            }
        }
    }
}


.blog-sidebar-wrapper{
    border: 1px solid $border-color;
    
    & .sidebar-title{
        padding: 15px 30px;
        border-bottom: 1px solid $border-color;
        
        & .title{
            font-size: 18px;
            font-weight: 500;
        }
    }
}

.blog-tag{
    
    & .tag-list{
        padding: 20px 30px 30px;
        border-bottom: 1px solid $border-color;
        
        & a{
            padding: 0 10px;
            line-height: 30px;
            border-bottom: 1px solid $border-color;
            @include transition(0.3s);
            color: $body-color;
            font-size: 14px;
            margin-top: 10px;
            
            &:hover{
                background-color: $theme-color;
                color: $white;
                border-color: $body-color;
            }
        }
    }
}

.blog-project{
    & .project-list{
        padding: 20px 30px 30px;
        border-bottom: 1px solid $border-color;
        
        & ul{
            & li{
                & a{
                    color: $body-color;
                    font-size: 14px;
                    margin-top: 10px;
                    @include transition(0.3s);
                    display: block;
                    
                    &:hover{
                        color: $theme-color;
                    }
                    
                    & span{
                        float: right;
                    }
                }
            }
        }
    }
}

.blog-ratting{
    & .ratting-list{
        padding: 20px 30px 30px;
        
        & ul{
            & li{
                & a{
                    color: $body-color;
                    font-size: 14px;
                    margin-top: 10px;
                    @include transition(0.3s);
                    display: block;
                    
                    &:hover{
                        color: $theme-color;
                    }
                    
                    & span{
                        float: right;
                    }
                }
            }
        }
    }
}













