


/*===========================
      02.HEADER css 
===========================*/



/*===== NAVBAR =====*/


.navbar-area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;    
    @include transition(0.3s);
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--not-top {
    transform: translateY(0%);
    position: fixed;
    z-index: 99;
    background-color: $white;
    @include box-shadow (0px 20px 50px 0px rgba(0, 0, 0, 0.05));
    @include transition(0.3s);
    
    & .navbar{
        padding: 10px 0;
    }
}
.headroom--unpinned {
    transform: translateY(-100%);
}


.navbar{
    padding: 25px 0;
    border-radius: 5px;
    position: relative;
    @include transition(0.3s);
}

.navbar-brand{
    padding: 0;
}


.navbar-toggler{
    padding: 0;
    
    & .toggler-icon{
        width: 30px;
        height: 2px;
        background-color: $black;
        display: block;
        margin: 5px 0;
        position: relative;
        @include transition(0.3s);
    }
    
    &.active{
        & .toggler-icon{
            &:nth-of-type(1){
                @include transform(rotate(45deg));
                top: 7px;
            }
            &:nth-of-type(2){
                opacity: 0;
            }
            &:nth-of-type(3){
                @include transform(rotate(135deg));
                top: -7px;
            }
        }
    }
}


.navbar-collapse{
    @media #{$md} {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: $white;
        z-index: 9;
        @include box-shadow ( 0px 15px 20px 0px rgba(0,0,0,0.1));
        padding: 5px 12px;
    }
    @media #{$xs} {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: $white;
        z-index: 9;
        @include box-shadow ( 0px 15px 20px 0px rgba(0,0,0,0.1));
        padding: 5px 12px;
    }
}


.navbar-nav{
    & .nav-item{
        margin-left: 40px;
        position: relative;
        
        &:first-child{
            margin-left: 0;
        }
        
        @media #{$lg} {
           margin-left: 30px;
        }
        @media #{$md} {
            margin: 0;
        }
        
        @media #{$xs} {
            margin: 0;
        }
        
        & a{
            font-size: 16px;
            font-weight: 900;
            color: $black;
            @include transition(0.3s);
            padding: 10px 0;
            position: relative;
            font-family: $font-2;
            
            @media #{$md} {
                display: block;
                padding: 4px 0;
            }
            @media #{$xs} {
                display: block;
                padding: 4px 0;
            }
        }
        
        &.active,
        &:hover{
            & > a{
                color: $theme-color;
            }
        }
        
         &:hover{
            & .sub-menu{
                top: 100%;
                opacity: 1;
                visibility: visible;
                
                @media #{$md} {
                    top: 0;
                }
                @media #{$xs} {
                    top: 0;
                }
            }
        }
        
        & .sub-menu{
            width: 200px;
            background-color: $white;
            @include box-shadow ( 0px 0px 20px 0px rgba(0,0,0,0.1));
            position: absolute;
            top: 110%;
            left: 0;
            opacity: 0;
            visibility: hidden;
            @include transition(0.3s);
            
            @media #{$md} {
                position: relative;
                width: 100%;
                top: 0;
                display: none;
                opacity: 1;
                visibility: visible;
            }
            @media #{$xs} {
                position: relative;
                width: 100%;
                top: 0;
                display: none;
                opacity: 1;
                visibility: visible;
            }
            
            & li{
                display: block;
                
                & a{
                    display: block;
                    padding: 8px 20px;
                    
                    &.active,
                    &:hover{
                        padding-left: 25px;
                        color: $theme-color;
                    }
                }
            }
        }
    }
    
    & .sub-nav-toggler{
        display: none;
        
        @media #{$md} {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            background: none;
            color: $black;
            font-size: 18px;
            border: 0;
            width: 30px;
            height: 30px;
        }
        @media #{$xs} {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            background: none;
            color: $black;
            font-size: 18px;
            border: 0;
            width: 30px;
            height: 30px;
        }
        
        & span{
            width: 8px;
            height: 8px;
            border-left: 1px solid $black;
            border-bottom: 1px solid $black;
            @include transform(rotate(-45deg));
            position: relative;
            top: -5px;
        }
    }
}

.navbar-btn{    
    @media #{$md} {
        position: absolute;
        top: 50%;
        right: 50px;
        @include transform(translateY(-50%));
    }
    @media #{$xs} {
        position: absolute;
        top: 50%;
        right: 50px;
        @include transform(translateY(-50%));
    }
    
    & .main-btn{
        @media #{$xs} {
            height: 40px;
            line-height: 36px;
            font-size: 13px;
            padding: 0 20px;
        }
    }
}








/*===== HEADER HERO =====*/

.header-hero{
    height: 800px;
    position: relative;
    
    @media #{$desktop} {
        height: 990px;
    }
    
    @media #{$md} {
        height: auto;
    }
    
    @media #{$xs} {
        height: auto;
    }
}

.header-hero-image{
    position: absolute;
    top: 0;
    right: 0;
    width: 47%;
    height: 100%;
    
    @media #{$md} {
        width: 720px;
        position: relative;
        margin: 0 auto;
        padding-top: 50px;
    }
    @media #{$xs} {
        width: 100%;
        position: relative;
        margin: 0 auto;
        padding-top: 50px;
    }
    
    @media #{$sm} {
        width: 540px;
    }
    
    & .image{
        & img{
            
            @media #{$md} {
                width: 100%;
            }
        }
    }
}



.header-hero-content{
    
    @media #{$md} {
        padding-top: 150px;
    }
    @media #{$xs} {
        padding-top: 150px;
    }
    
    & .hero-title{
        font-size: 60px;
        font-weight: 400;
        color: #000;
        
        @media #{$lg} {
            font-size: 48px;
        }
        @media #{$xs} {
            font-size: 28px;
        }
        @media #{$sm} {
            font-size: 34px;
        }
        
        & b{
            font-weight: 700;
        }
        
        & span{
            color: $theme-color;
            display: contents;
        }
    }
    & .text{
        max-width: 490px;
        font-size: 16px;
        padding-top: 40px;
    }
    
    & .header-singup{
        position: relative;
        margin-top: 120px;
        z-index: 9;
        
        @media #{$md} {
            margin-top: 60px;
        }
        @media #{$xs} {
            margin-top: 60px;
        }
        
        & input{
            width: 100%;
            height: 70px;
            font-size: 24px;
            border: 0;
            border-radius: 50px;
            padding: 0 30px;
            background-color: $white;
            @include box-shadow (0px 20px 50px 0px rgba(0, 0, 0, 0.05));
            
            @media #{$xs} {
                height: 56px;
            }
        }
        & .main-btn{
            position: absolute;
            top: 3px;
            right: 3px;
            height: 64px;
            line-height: 60px;
            padding: 0 40px;
            text-transform: uppercase;
            letter-spacing: 1px;
            
            @media #{$xs} {
                position: relative;
                top: 0;
                right: 0;
                width: 100%;
                height: 56px;
                line-height: 52px;
                margin-top: 10px;
            }
            
            @media #{$sm} {
                position: absolute;
                top: 3px;
                right: 3px;
                width: auto;
                height: 50px;
                line-height: 46px;
                margin-top: 0;
            }
        }
    }
}



















