


/*===========================
       07.TESTIMONIAL css 
===========================*/

.testimonial-area{}


.testimonial-left-content{
    & .testimonial-line{
        padding-top: 10px;
        
        & li{
            height: 5px;
            background-color: #fde4e1;
            display: inline-block;
            border-radius: 50px;
            margin-right: 3px;
                        
            &:nth-of-type(1){
                width: 40px;
            }
            &:nth-of-type(2){
                width: 15px;
            }
            &:nth-of-type(3){
                width: 10px;
            }
            &:nth-of-type(4){
                width: 5px;
            }
        }
    }
    & .text{
        padding-top: 15px;
    }
}


.testimonial-right-content{
    position: relative;
    background-color: #f6f6f6;
    @include box-shadow (0px 30px 70px 0px rgba(0, 0, 0, 0.07));
    border-radius: 50px;
    max-width: 500px;
    padding-top: 50px;
    
    & .quota{
        position: absolute;
        top: 10px;
        left: 15px;
        @include transform(rotate(180deg));
        opacity: 0.1;
        
        & i{
            font-size: 130px;
            line-height: 95px;
            color: $theme-color;
        }
        
    }
}

.testimonial-content-wrapper{
    position: relative;
    left: 70px;
    
    @media #{$xs}{
        left: 0;
    }
}

.single-testimonial{
    background-color: $white;
    padding: 40px 30px 50px;
    border-radius: 50px;
    
    & .testimonial-text{
        & .text{
            font-size: 24px;
            font-weight: 400;
            font-family: $font-2;
            line-height: 36px;
            color: $black;
            padding-bottom: 25px;
            
            @media #{$xs}{
                font-size: 18px;
                line-height: 32px;
            }
        }
    }
    & .testimonial-author{
        border-top: 1px solid $border-color;
        padding-top: 50px;
        
        & .author-info{
            & .author-image{
                & img{
                    border-radius: 50%;
                }
            }
            & .author-name{
                padding-left: 30px;
                
                & .name{
                    font-size: 16px;
                    font-weight: 700;
                    color: $theme-color;
                }
                & .sub-title{
                    font-size: 14px;
                    color: $body-color;
                    margin-top: 5px;
                }
            }
        }
        & .author-review{
            @media #{$xs}{
                padding-left: 100px;
                padding-top: 15px;
            }
            @media #{$sm}{
                padding-left: 0;
                padding-top: 15px;
            }
            
            & .star{
                & li{
                    display: inline-block;
                    font-size: 14px;
                    color: #ffa800;
                }
            }
            & .review{
                font-size: 14px;
                color: $black;
                margin-top: 5px;
            }
        }
    }
}

.testimonial-active{
    & .slick-arrow{
        position: absolute;
        bottom: 0;
        left: -670px;
        font-size: 22px;
        cursor: pointer;
        color: $body-color;
        @include transition(0.3s);
        
        &:hover{
            color: #000;
        }
        
        &.next {
            left: -635px;
        }
    }
}














