// Font Family
$font-1: 'Nunito', sans-serif;
$font-2: 'Nunito', sans-serif;


// Colors ---------------
$white: #fff;
$black: #222;
$gray:#f7f7fd;


// Theme Color
$theme-color: #f14836;


//Body Color
$body-color: #798795;


// Border Color
$border-color:#dedede4f;


// Heading Color
$heading-color: #404040;


// Soft color
$black-soft:#7e7e7e;


// Responsive Variables
$desktop: 'only screen and (min-width: 1400px)';
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';


